.container-information{
    width: 900px;
    margin-left: 50px;
    margin-top: 30px;
}

#title-info-h1{
    color: #CC511D;
    text-align: center;
    margin-bottom: 50px;
}

.title-h2-informs{
    color: #CC511D;
    border-bottom: 1px solid #CC511D;
}

#link-pagarme{
    margin-left: 100px;
}

#email-info{
    margin-left: 100px;
    background: #CC511D;
    color: white;
    width: 235px;
    padding: 5px;
    font-size: 15pt;
    font-weight: bold;
}

.paragrafo{
    margin-left: 15px;
}