#container_recpassword{
    width: 900px;
    margin-left: 50px;
}

#rec_title{
    color: #CC511D;
    border-bottom: 1px solid #CC511D;
}

#btn_gerar{
    width: 150px;
    border: 1px solid #CC511D;
    margin-left: 180px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px #CC511D;
    transition: 0.5s;
    cursor: pointer;
}

#btn_gerar:hover{
    background: #bbbbbb69;
    box-shadow: 0px 0px 0px #CC511D;
    transition: 0.5s;
}

#div_seguir{
    margin-top: 50px;
    margin-left: 100px;
    width: 300px;
    border-top: 1px solid #CC511D;
}

#campo_codigo{
    margin-top: 50px;
    margin-left: 40px;
    border: 1px solid #CC511D;
    padding: 5px;
}

#btn_seguir{
    border: 1px solid #CC511D;
    background: #CC511D;
    color: #FFFFFf;
    width: 80px;
    height: 28px;
    cursor: pointer;
}